/* Reset et mise en page générale */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #293133;
  color: #ffffff;
  height: 100vh;
  margin: 20;
  padding: 20px;
}

.container {
  background: #293133;
  padding: 2.5rem 3rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 400px;
  width: 100%;
  diplay: flex
}

h1 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

input[type="text"] {
  width: 100%;
  color: #ffffff;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  outline: none;
  background-color: #434546;
}

button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  background: #f0a500;
  color: #222;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #cf8500;
}

#response {
  margin-top: 1.25rem;
  font-weight: 600;
  font-size: 1.1rem;
  min-height: 1.5em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
