/* Reset et mise en page générale */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #293133;
  color: #ffffff;
  height: 100vh;
  margin: 20;
  padding: 20px;
}

h1 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

input[type="text"] {
  width: 90%;
  color: #ffffff;
  border: 0px;
  margin-bottom: 1rem;
  border-radius: 6px;
  background-color: #293133;
  padding: 6px 10px;
  font-size: 14px;
  outline: none;
}

input[type="text"]:focus {
  background-color: #434546;
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  background-color: #293133;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 7px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

button {
  width: 3rem;           /* largeur fixe */
  height: 3rem;          /* hauteur égale à la largeur pour un carré */
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;    /* coins arrondis */
  background: #f0a500;
  color: #222;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0;            /* on enlève le padding car on fixe taille */
  justify-content: center;
}


button:hover {
  background: #cf8500;
}
