<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ma To-Do List en ligne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <h1>Ma To-Do List</h1>
    <br>
    <div class="container">
        <p>
		<input type="checkbox" id="tache1">
        	<label for="tache1" aria-describedby="label"><input type='text'></label>
        </p>
        <input type="checkbox">
        <input type="text">
        <input type="text" id="passwordInput" placeholder="Entrez le mot de passe" />
        <button id="submitBtn">Valider</button>
        <p id="response"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
