<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ma To-Do List en ligne</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<h1>Ma To-Do List</h1>
	<button onclick="ajouterLigne()"><b>+</b></button>
	<button onclick="supprimerLigne()"><b>-</b></button>
	<p>
  		<label>
    			<input type="checkbox" id="tache1">
    			<input type="text" aria-describedby="label" placeholder="Entrez une tâche...">
  		</label>
	</p>
	<p>
		<label>
    			<input type="checkbox" id="tache2">
    			<input type="text" aria-describedby="label" placeholder="Entrez une tâche...">
  		</label>
        </p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
